<h1>Shopartikel {{#if status}}bearbeiten{{else}} hinzufügen{{/if}}</h1>

    <form action="#" method="post" class="goldbox">
        <label for="artist">Projekt</label>
        <input type="text" name="artist" id="artist" {{#if status}}value="{{article.artist}}" {{/if}} required>

        <label for="title">Titel</label>
        <input type="text" name="title" id="title" {{#if status}}value="{{article.title}}" {{/if}} required>

        <label for="year">Jahr</label>
        {{!-- insert current year as default value --}}
        <input type="number" name="year" id="year" {{#if status}}value="{{article.year}}" {{/if}}>

        <label for="description">Beschreibung</label>
        <textarea name="description" id="description" cols="30" rows="10" {{#if status}}value="{{article.description}}"
            {{/if}}></textarea>

        <label for="price">Preis</label>
        <input type="number" name="price" id="price" {{#if status}}value="{{article.price}}" {{/if}} required>

        <label for="promotionText">Werbetext</label>
        <textarea name="promotionText" id="promotionText" cols="30" rows="10"
            {{#if status}}value="{{article.promotionText}}" {{/if}}></textarea>

        <label for="promotionImage">Werbebild (URL)</label>
        <input type="text" name="promotionImage" id="promotionImage" {{#if status}}value="{{article.promotionImage}}"
            {{/if}}>

        <label for="endorsements">Rezensionen</label>
        {{!-- how? --}}

        <label for="available">Verfügbar</label>
        <select name="available" id="available">
            <option value="true" selected>Ja</option>
            <option value="false">Nein</option>
        </select>

        <label for="delivery">Lieferung</label>
        <select name="delivery" id="delivery">
            {{!-- current value must be selected --}}
            <option value=""></option>
            <option value="1-3 Tage" selected>1-3 Tage</option>
            <option value="1-2 Wochen">1-2 Wochen</option>
            <option value="2-4 Wochen">2-4 Wochen</option>
        </select>

        <label for="image">Bild (URL)</label>
        {{!-- update later for cloudinary --}}
        <input type="text" name="image" id="image" {{#if status}}value="{{article.image}}" {{/if}}>

        <label for="spotify">Link zu Spotify</label>
        <input type="text" name="spotify" id="spotify" {{#if status}}value="{{article.spotify}}" {{/if}}>

        <label for="shoppingcart">Link zu Paypal</label>
        <input type="text" name="shoppingcart" id="shoppingcart" {{#if status}}value="{{article.shoppingcart}}" {{/if}}required>

        <div class="buttonflex">
            {{#if status}}<button class="edit-button" type="submit" formaction="/shopArticle/{{article._id}}/edit">Änderungen
                speichern</button>{{else}}
            <button class="edit-button" type="submit" formaction="/shopArticle/add">Hinzufügen</button>
            {{/if}}
            <a href="/maintainShopList">Zurück</a>
        </div>
    </form>
