<h1>Termine</h1>
{{#each gig}}
<div class="goldbox">
    <table>
        <tr>
            {{!-- <th>{{formatTime date "MM-DD-YYYY"}}{{#if enddate}} - {{enddate}}{{/if}}</th> --}}
            <th>{{date}}{{#if enddate}} - {{enddate}}{{/if}}</th>
            <th>{{town}}</th>
            <th>{{status}}</th>
        </tr>
        <tr>
            <td></td>
            <td>{{venue}}{{#if comment}}
                <br>
                {{comment}}{{/if}}
            </td>
        </tr>
    </table>
</div>

{{/each}}