<h1>Projekte</h1>
{{#each project}}
<div class="goldbox">
    <img src="{{image}}" alt="{{name}}">
    <div>
        <p>{{description}}</p>
        {{#if linkUrl}} <a href="{{linkUrl}}">linkText</a>{{/if}}
        <ul>
            {{#each member}}
            <li>{{member}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{/each}}