<h1>Termin {{#if status}}bearbeiten{{else}}hinzufügen{{/if}}</h1>

<form action="" method="post" class="goldbox">
    <label for="date">Datum</label>
    <input type="date" class="form_datetime" name="date" id="date" {{#if status}} value="{{gig.date}}" {{/if}} required>
    <p>{{gig.date}}</p>

    <label for="enddate">bis (falls mehrtägig)</label>
    <input type="date" name="enddate" id="enddate" {{#if status}}value="{{gig.enddate}}" {{/if}}>

    <label for="town">Stadt</label>
    <input type="text" name="town" id="town" {{#if status}}value="{{gig.town}}" {{/if}}>

    <label for="venue">Veranstaltungsort</label>
    <input type="text" name="venue" id="venue" {{#if status}}value="{{gig.venue}}" {{/if}} required>

    <label for="status">Status</label>
    <select name="status" id="status">
        {{!-- Need something here to select current status --}}
        <option value="" selected></option>
        <option value="BESTÄTIGT">Bestätigt</option>
        <option value="VERSCHOBEN">Verschoben</option>
        <option value="ABGESAGT">Abgesagt</option>
    </select>

    <label for="comment">Weitere Infromationen</label>
    <textarea name="comment" id="comment" cols="30" rows="5" >{{#if status}}value="{{gig.comment}}" {{/if}}</textarea>

    <div class="buttonflex">
        {{#if status}}<button class="edit-button" type="submit" formaction="/gig/{{gig._id}}/edit">Änderungen
            speichern</button>{{else}}
        <button class="add-button" type="submit" formaction="/gig/add">Hinzufügen</button>{{/if}}
        <a href="/maintainGigsList">Zurück</a>
    </div>

</form>