<h1>Termin bearbeiten</h1>
<div class="goldbox">
    {{gig}}
    <form action="" method="post">
        <label for="date">Datum</label>
        <input type="date" name="date" id="date" value="{{date}}" required>

        <label for="enddate">bis (falls mehrtägig)</label>
        <input type="date" name="enddate" id="enddate" value="{{enddate}}">

        <label for="town">Stadt</label>
        <input type="text" name="town" id="town" value="{{town}}">

        <label for="venue">Veranstaltungsort</label>
        <input type="text" name="venue" id="venue" value="venue" required>

        <label for="status">Status</label>
        <select name="status" id="status">
            {{!-- Need something here to select current status --}}
            <option value=""></option>
            <option value="BESTÄTIGT">Bestätigt</option>
            <option value="VERSCHOBEN">Verschoben</option>
            <option value="ABGESAGT">Abgesagt</option>
        </select>

        <label for="comment">Weitere Infromationen</label>
        <textarea name="comment" id="comment" cols="30" rows="10" value="{{comment}}"></textarea>
        
        <div class="buttonflex">
            <button class="edit-button" name="action" type="submit" value="edit">Änderungen speichern</button>
            <button class="delete-button" name="action" type="submit" value="delete">Löschen</button>
            <a href="#">Zurück</a>
        </div>

    </form>
</div>