<h1>Termine</h1>
<a href="/adminMenu">Menü</a>

{{#each gig}}
<form action="#" method="get"  class="goldbox">
    <p>Datum: {{date}}</p>
    <p>{{venue}}, {{town}}</p>
    <div class="buttonflex">
        <button type="submit" formaction="/gig/{{_id}}/edit">Bearbeiten</button>
        <button type="submit" formaction="/gig/{{_id}}/delete">Löschen</button>
    </div>
</form>
{{/each}}