{{project}}
<h1>{{name}}</h1>h1>

<div class="goldb">
    <label for="name">Projektname</label>
    <input type="text" name="name" id="name" value="{{name}}" required>

    <label for="members">Mitglieder</label>
    {{!-- how to input?manage multiple members --}}

    <label for="description">Beschreibung</label>
    <textarea name="description" id="description" width="100%" rows="10" value="{{description}}"></textarea>

    <label for="image">Bild (url)</label>
    <input type="text" name="image" id="image" value="{{image}}">

    <label for="linkUrl">URL</label>
    <input type="text" name="linkUrl" id="linkUrl" value="linkUrl">

    <label for="linkText">URL-Beschriftung</label>
    <input type="text" name="linkText" id="linkText" value="linkText">

    <label for="display">Projekt anzeigen</label>
    <select name="display" id="display">
        <option value="true" selected>Ja</option>
        <option value="false" >Nein</option>
    </select>

            <div class="buttonflex">
            <button class="edit-button" name="action" type="submit" value="edit">Änderungen speichern</button>
            <button class="delete-button" name="action" type="submit" value="delete">Löschen</button>
            <a href="#">Zurück</a>
        </div>
</div>