<h1>Projekte</h1>
<a href="#">Menü</a>

{{#each project}}
<div class="goldbox-h">
    <p>Projektname: {{name}}</p>

    <div class="buttonflex">
        <button type="submit" formaction="/news/{{_id}}/edit">Bearbeiten</button>
        <button type="submit" formaction="/news/{{_id}}/delete">Löschen</button>
    </div>
    </form>

    <div class="buttonflex">
        <a href="/project/{{_id}}/edit">Bearbeiten</a>
        <a href="/project/{{_id}}/delete">Löschen</a>
    </div>
</div>
{{/each}}